<div class="movie-card">
    <div class="content">
        <div class="poster_img">
            <img 
                [src]="movie.poster_path"
                alt="{{ movie.title }}"
                class="img-responsive">
        </div>
        <div class="movie_details">
            <h1>{{ movie.original_title }}</h1>
            <div class="movie_info">
                <span class="release_date">{{movie.release_date}}</span>
                <span class="original_language">{{movie.original_language}}</span>
                <span class="rate">{{movie.vote_average}}</span>
            </div>
            <p class="overview">{{movie.overview}}</p>
            <button class="more_details">More Details</button>
        </div>
    </div>
</div>
