@import url("https://fonts.googleapis.com/css?family=Poppins");
@import url('https://fonts.googleapis.com/css?family=Montserrat');

$white: rgb(255, 255, 255);
$yellow: rgb(220, 190, 0);
$gray: rgb(115, 115, 115);
$light-background: rgb(245, 245, 245);

.center-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}

a,
a:active,
a:visited {
    cursor: pointer;
    transition: all 300ms ease-in-out;
    text-decoration: none;
    color: #ec7532;
    outline: none;
    box-shadow: none;
}

.btn {
    font-size: 13px;
    font-weight: normal;
    position: relative;
    overflow: hidden;
    width: auto;
    padding: 12px 24px;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: #fff;
    border-width: 2px;
    border-radius: 30px;
}

.btn i,
.btn:hover i {
    position: relative;
    z-index: 1;
    display: inline-flex;
    vertical-align: middle;
    color: #fff;
}

.btn-default {
    border: none;
    background-image: linear-gradient(to right, #fbbd61, #ec7532);
}

.btn-default span,
.btn-default span:hover,
.btn-ghost span:hover {
    position: relative;
    z-index: 1;
    color: #fff;
}

.btn-default:hover:before {
    width: 140%;
}

.btn-default:before,
.btn-ghost:before {
    position: absolute;
    z-index: 0;
    bottom: 0;
    left: -15px;
    width: 0;
    height: 100%;
    content: '';
    transition: .4s;

    transform: skewX(30deg);
    background: #ec7532;
}

.btn-primary {
    border: none;
    background: #ec7532;
}

.btn-ghost {

    transition: all 300ms ease-in-out;
    color: #ec7532;
    border-color: #ec7532;
    background: transparent;
}

.btn-ghost:hover span {
    color: #fff;
}

.btn-ghost:hover:before {
    z-index: -1;
    width: 140%;
}

.btn-ghost:hover {
    color: #fff;
}

.star-rating {
    display: inline-block;
}

.star-rating i {
    font-size: 18px;
    display: inline-block;
    width: 18px;
    color: #fbbd61;
}

.star-rating p {
    font-size: 18px;
    display: inline-block;
}

i.material-icons {
    display: inline-flex;
    vertical-align: middle;
}

#content_hero:before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    content: '';
    background-image: linear-gradient(to top, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%);
}

#content_hero .container .blurb {
    position: relative;
    width: 100%;
    margin-top: 50px;
    animation: Blurb .5s .5s forwards;
    text-align: left;
    //opacity: 0;
}

#content_hero .container .blurb h1 {
    font-size: 52px;
    font-weight: 300;
    padding: 0;
    animation: Heading .5s .5s forwards;
    letter-spacing: 3px;
    opacity: 0;
    color: #fff;
    border: none;
}

#content_hero .container .blurb p {
    font-size: 18px;
    color: #fff;
}

#content_hero .container .blurb .certificate {
    font-size: 13px;
    font-weight: bold;
    //line-height: 48px;
    line-height: 43px;
    display: inline-block;
    width: 48px;
    height: 48px;
    margin-right: 8px;
    transform: translateY(2px);
    text-align: center;
    color: #fff;
    border: solid 2px #fff;
    border-radius: 50%;
}

#content_hero {
    position: relative;
    transition: all 300ms ease-in-out;
    background-position: center;
    background-size: cover;
}

#content_hero:before {
    top: auto;
    height: 70%;
}

#content_hero .container{
    height: 100vh;
}

.blurb {
    margin-top: 300px;
}

#content_hero .container .blurb h1 {
    animation: none;
    opacity: 1;
}

#content_hero .buttons .btn {
    margin-right: 15px;
}


span.title {
    font-size: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #fbbd61;
}