<div class="container"
    [style.background-image]="'url(https://image.tmdb.org/t/p/original'+movieDetails.backdrop_path+')'">
    <div class="content">
        <h1>{{movieDetails.title}}</h1>
        <span class="genres" *ngFor="let genre of movieDetails.genres; let last = last">{{genre.name}}{{last
            ? '' : ', '}}</span>
        <div class="info">
            <div class="rate">
                <p>Rating: {{movieDetails.vote_average}}</p>
            </div>
            <p>Release Date: {{movieDetails.release_date}}</p>
            <p>Time: {{movieDetails.runtime}} min</p>
        </div>

        <div class="overview">
            <h2>Overview</h2>
            <p>{{movieDetails.overview}}</p>
        </div>
        <div class="button">
            <button mat-stroked-button id="trailer">Play trailer</button>
        </div>
    </div>
</div>