<div id="content_hero" class="center-content hero-ontop"
    [style.background-image]="'url(https://image.tmdb.org/t/p/original'+movieDetails.backdrop_path+')'">
    <div class="container">
        <div class="row blurb scrollme animateme">
            <div class="col-md-9">
                <h1>{{movieDetails.title}}</h1>
                <span class="title" *ngFor="let genre of movieDetails.genres; let last = last">{{genre.name}}{{last
                    ? '' : ', '}}</span>
                <div class="star-rating">
                    <i class="material-icons">star_rate</i>
                    <p>{{movieDetails.vote_average}}</p>
                </div>
                <p>{{movieDetails.release_date}}</p>
                <p>{{movieDetails.runtime}}</p>
                <p>{{movieDetails.overview}}</p>
                <div class="buttons">
                    <a href="" data-vbtype="video" class="venobox btn btn-default vbox-item">
                        <i class="material-icons">play_arrow</i>
                        <span>Play trailer</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>