@import url("https://fonts.googleapis.com/css?family=Poppins");
@import url('https://fonts.googleapis.com/css?family=Montserrat');

.container {
    height: 100vh;
    width: 100vw;
    background-size: cover;
    display: flex;
    align-items: center;
    color: white;

    .content {
        padding: 10%;
        background-color: rgba(0, 0, 0, 0.5);

        h1 {
            font-size: 52px;
            font-weight: 300;
            letter-spacing: 3px;
        }

        .genres {
            font-size: 26px;
            letter-spacing: 2px;
            text-transform: uppercase;
            color: #fbbd61;
        }

        .info {
            display: flex;
            flex-direction: row;
            margin-top: 20px;

            .rate {
                display: flex;
                flex-direction: row;

                i {
                    color: #fbbd61;
                }
            }

            p {
                margin-right: 20px;
                font-size: 20px;
            }
        }

        .overview {
            width: 60%;
            margin-top: 50px;

            h2 {
                font-size: 26px;
                text-transform: uppercase;
                color: #fbbd61;
            }

            p {
                font-size: 18px;
            }
        }

        .button {
            margin-top: 50px;

            button {
                color: white;
                border: 2px solid white !important;
            }
        }
    }
}