<form [formGroup]="form">
    <p>Step 2</p>
    <h2>Create a Username and add your TMDB key!</h2>
    <div class="form-group">
        <label for="username">Username</label>
        <input formControlName="username" type="text" class="form-control" id="username" placeholder="Username" name="username">
    </div>
    <div class="form-group">
        <label for="tmdb-api">TMDB Api Key</label>
        <input formControlName="tmdb-api" type="password" class="form-control" id="tmdb-api" placeholder="TMDB Api Key" name="tmdb-api">
    </div>
    <div *ngIf="displayErrors" class="form-errors">
        <span *ngIf="this.form.get('tmdb-api')?.errors">
            <p class="error-message">API Key is required</p>
        </span>
        <span *ngIf="this.form.get('username')?.errors">
            <p class="error-message">Username is required</p>
        </span>
    </div>
    <div class="form-group">
        <button type="button" class="btn btn-primary" (click)="finish()">Next</button>
    </div>
</form>