<div class="container">
    <app-header></app-header>
    <form class="form">
        <p>Step 1 of 3</p>
        <h1>Create a password to start your membership</h1>
        <p>Just a few more steps and you're done!</p>
        <p>We hate paperwork, too.</p>
        <br>
        <div class="form-group">
            <input type="email" name="name" id="email" class="form-control" placeholder="Enter your email">
        </div>
        <br>
        <div class="form-group"> 
            <input type="password" name="name" id="password" class="form-control" placeholder="Enter your password">
        </div>
        <br>
        <div>
            <button type="next" class="nextButton">Next</button>
        </div>
    </form>
    <app-footer></app-footer>
</div>

