<main>
    <nav>

    </nav>
    <div class="form-container">
        <form>
            <h1>sign in</h1>
            <input placeholder="Email or phone number" class="info">
            <p>Please enter a valid email or phone number.</p>
            <input placeholder="Password" class="info">
            <p>Your password must contain between 4 and 60 characters.</p>
            <button>sign in</button>
            <div class="remember-help-container">
                <input type="checkbox" name="remember-me" value="remember me" checked>Remember Me
                <a id="help">Need help?</a>
            </div>
            
            <p class="signup">New to Notflix? <a id="signup">Sign up now</a></p>
            <p>This page is protected by Google reCAPTCHA to ensure you're not a bot. <a id="learnmore">Learn more.</a></p>
        </form>
    </div>
</main>