<app-navbar></app-navbar>
<main>
    <div class="container">
        <p>STEP 2 OF 3</p>
        <h1>Create a Username and Add your Tmdb Api_Key</h1>
        <p>Just a few more steps and you're done!</p>
        <p>We hate paperwork, too.</p>
        <form>
            <label>Username</label>
            <input type="email" placeholder="Add a username">
            <label>Tmdb Api_Key</label>
            <input type="password" placeholder="Add a Tmdb Api_Key">
            <button>Next</button>
        </form>
    </div>
</main>
