<!-- <p>login-page works!</p> -->

<div>
  <img src="../../assets/logo.svg.png" alt="logo">
</div>
<main>
  <div class="container">
    <form>
      <h1>Sign In</h1>
      <input placeholder="Email or phone number" class="user-info">
      <p>Please enter a valid email or phone number.</p>
      <input placeholder="Enter your Password" class="user-info">
      <p>Your password must contain between 4 and 60 characters.</p>
      <button>Sign In</button>
      <div class="remember-help-container">
        <span><input type="checkbox" name="remember-me" value="remember me" checked id="checkbox">Remember Me</span>
        <a href="#" id="help">Need help?</a>
      </div>
      <div class="facebook-login">
        <img src="../../assets/facebook.svg">
        <a href="#">Login with Facebook</a>
      </div>

      <p class="signup">New to Notflix? <a href="#" id="signup">Sign up now</a></p>
      <p>This page is protected by Google reCAPTCHA to ensure you're not a bot. <a id="learnmore">Learn more.</a></p>
    </form>
  </div>
</main>
