<div class="movie-card">
  <app-spinner [showSpinner]="loading"></app-spinner>
  <div class="content">
    <div class="movie-img" [style.background-image]="'url(https://image.tmdb.org/t/p/original'+movie.img+')'">
    </div>
    <div class="movie-details">
      <h1>{{movie.title}}</h1>
      <div class="info">
        <span class="release-year">{{movie.date}}</span>
        <span class="language">{{movie.language}}</span>
        <span class="rating">{{movie.rate}}</span>
      </div>
      <div class="overview-text">
        <p class="overview">{{movie.description}}</p>
      </div>
      <div class="details-button">
        <button mat-stroked-button color='white' id="movie-details"
          (click)="onMovieDetailClick()">movie-details</button>
      </div>
    </div>
  </div>
</div>