<div class="container">
    <h1>Frequently Asked Questions</h1>
    <div class="list-container">
        <app-q-and-a-item *ngFor="let qna of qnas" [qna]="qna" (onChangeState)="changeState(qna)"
            [activeQnAId]="activeQnAId">
        </app-q-and-a-item>
    </div>
    <p>Ready to watch? Enter your email to create or restart your membership.</p>
    <div class="email-input">
        <mat-form-field appearance="fill" color="accent">
            <mat-label>Email address</mat-label>
            <input matInput type="email" placeholder="Enter your email address">
        </mat-form-field>
        <button mat-raised-button color="warn">Get Started > </button>
    </div>
</div>