<div class="container">
    <form class="main">
        <p>STEP 1 OF 3</p>
        <h1>Create a password to start your membership</h1>
        <p>Just a few more steps and you're done!</p>
        <br>
        <p>Wehate paperwork, too.</p>
        <br>
        <div class="form-group">
            <label>Email</label>
            <input type="text" name="name" id="name" class="form-control" placeholder="Enter your email">
        </div>
        <br>
        <div class="form-group">
            <label>Password</label>
            <input type="text" name="password" id="password" class="form-control" placeholder="Add a password">
        </div>
        <br>
        <div>
            <button type="Next" class="NextButton">Next</button>
        </div>
    </form>
</div>