<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div>
    <label for="email">Email: </label>
    <input id="email" formControlName="email" />
  </div>

  <div *ngIf="!email.valid && (email.dirty || email.touched)">
    <!-- <div *ngIf="email.errors?.['minlen']" class="invalid">
      the min length is 5
    </div> -->
    <div *ngIf="email.errors?.['hasemail']" class="invalid">
      email already exist! Try another...
    </div>
    <!-- <div *ngIf="email.errors?.['required']" class="invalid">
      email is required
    </div>
    <div *ngIf="email.errors?.['pattern']" class="invalid">
      pls input a valid email!
    </div> -->
  </div>

  <!-- <div formGroupName="pwd">
    <div>
      <label for="password">password: </label>
      <input id="password" formControlName="password" />
    </div>
    <div>
      <label for="confirm">confirm pwd: </label>
      <input id="confirm" formControlName="confirm" />
    </div>
  </div>
  <div *ngIf="!pwd.valid && (pwd.dirty || pwd.touched)">
    <div *ngIf="pwd.errors?.['pwdNoMatch']" class="invalid">
      pwd and cfm not match!
    </div>
  </div> -->
</form>

<!-- {{ pwd.errors | json }} -->
