body {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    background-color: black;
    color: white;
}

.center {
    width: 60%;
    margin: 30px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    min-width: 1000px;
}

.text {
    width: 45%;
    text-align: left;
    font-size: 1.2rem;
}


.pic {
    width: 50%;
    position: relative;   
}

.pic > img {
    width: 100%;
}

hr {
    border: solid rgba(255, 255, 255, 0.1) 3px;
}

.gif {
    position: absolute;
    top: 21%;
    left: 13%;
    width: 70%;
    z-index: -1000;
}

.mac-video {
    position: absolute;
    top: 12%;
    left: 20%;
    width: 60%;
    z-index: -1000;
}

.offline1 {
    background-color: black;
    border: solid rgb(61, 59, 59) 2px;
    position: absolute;
    top:70%;
    left:16%;
    width:70%;
    border-radius: 15px;
    height: 100px;
}

.offline2{
    margin: 8px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

.offline3 {
    height: 100%;
}

.movie{
    display: inline-block;
    height: 100%;
}

.text-offline {
    display: inline-block;
    text-align: left;
    position: relative;
    top: -25px;
    left: 10px;
}

.Text1 {
    margin: 0 0;
    font-size: 100%;
    font-weight: bold;
}
.Text2 {
    margin: 0 0;
    font-size: 70%;
    color:rgb(42,111,220);
}

.Download {
    width: 50px;
    height: 50px;
}