.login-wrapper-background{
  position: absolute;
  opacity: .7;
  background-size: cover;
  overflow: hidden;
  width: 100%;
  height: 100%;

}

.logo{
  position: absolute;
  left:10px;
  top: 10px;
}
h2{
  padding: 0;
  color: white;
}

main{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 60px;
  border-radius: 5px;
  background-color: rgba(0,0,0,0.85);
  color: grey;
  padding-top: 20px;
  
}

.user-name, .password{
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 5px;
  width: 17rem;
  display: flex;
  flex-direction: row;
  margin: 1rem auto;
}

.login-btn{
  background-color: red;
  color: white;
  border-radius: 5px;
  padding: 15px;

  margin-top: 20px;
  margin-bottom: 10px;
  width: 17rem;
  
}

.login-help{
  display: flex;
  justify-content: space-between;
  color: gray;
  margin-bottom: 50px;
}

.binary-input{
  box-sizing: border-box;
  font-size: 16px;

  user-select: none;
  letter-spacing: 0;

}

a:hover{
  text-decoration:underline;
}

a{
  color: white;
  text-decoration: none;
}
.login-help-link{
  color: gray;
}

.recaptcha-terms-of-use{
font-size: small;
}

.learnmore{
  color:rgb(99, 157, 245)
}
.user-name, .password {
  width: 17rem;
  margin: 1rem auto;
}