<div class="login-wrapper-background">
  <img class="concord-img vlv-creative" src="../../../assets/images/login-background.jpeg" alt="">
</div>
<div class="logo"><img src="../../../assets/images/logo_transparent.png" alt="logo" [routerLink]="['/homepage']" ></div>
<main class="container">  
  <h2>Sign In</h2>
  <body>
    <form class="sign-up-form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <input 
        class="user-name"
        type="text"
        name="userName"
        placeholder="Email or phone number"
        formControlName="userName" 
        
      />
      <div *ngIf="loginForm.get('userName')?.invalid && (loginForm.get('userName')?.dirty || loginForm.get('userName')?.touched)">
        <div *ngIf="loginForm.get('userName')?.errors?.['required']">Username is required.</div>
        <div *ngIf="loginForm.get('userName')?.errors?.['invalidUsername']">Invalid username format.</div>
      </div>

      
    
      <input 
      class="password"
      type="password"
      name="password"
      placeholder="Password"
      formControlName="password" 
      />
      <div *ngIf="loginForm.get('password')?.invalid && (loginForm.get('password')?.dirty || loginForm.get('password')?.touched)">
        <div *ngIf="loginForm.get('password')?.errors?.['required']">Password is required</div>
      </div>

      <button class="login-btn" type="submit" [disabled]="loginForm.invalid">Sign In</button>
      <div class="login-help">
        <div class="binary-input">
          <input type="checkbox" name="rememberMe">
          <label>Remember me</label>
        </div>
        <div class="link">
          <a class="login-help-link" href="/LoginHelp">Need help?</a>
        </div>
      </div>
    </form>
  </body>
  <div class="login-form-other">
    <div class="login-signup-now">New to Netflix?
      <a class target="_self" href="/homepage">Sign up now</a>.
    </div>
    <div class="recaptcha-terms-of-use">
      <p>
        <span>This page is protected by Google reCAPTCHA to ensure you're not a bot.</span>&nbsp;
        <a class="learnmore">Learn more.</a>
      </p>
    </div>
  </div>
</main>
