<main>
    <div class="container">
        <p class="left">STEP 1 OF 3</p>
        <h1>Choose the plan that’s right for you</h1>
        <ul>
            <li><i class="fa-solid fa-check"></i>Watch all you want.</li>
            <li><i class="fa-solid fa-check"></i>Recommendations just for you.</li>
            <li><i class="fa-solid fa-check"></i>Change or cancel your plan anytime.</li>
        </ul>
        <div class="row first-row">
            <p></p>
            <div class="content-container">
                <div class="first-column box" (click)="selectPlan('USER')"><p>Basic with ads</p></div>
                <div class="second-column box" (click)="selectPlan('SUPERUSER')"><p>Standard</p></div>
                <div class="third-column box" (click)="selectPlan('ADMIN')"><p>Premium</p></div>
            </div>

        </div>
        <div class="row">
            <p class="left">Monthly price</p>
            <div class="content-container">
                <p class="first-column" [ngClass]="{ red: selecedColumn === 'USER' }">$6.99</p>
                <p class="second-column" [ngClass]="{ red: selecedColumn === 'SUPERUSER' }">$15.49</p>
                <p class="third-column" [ngClass]="{ red: selecedColumn === 'ADMIN' }">$15.99</p>
            </div>
        </div>
        <div class="row">
            <p class="left">Video quality</p>
            <div class="content-container">
                <p class="first-column" [ngClass]="{ red: selecedColumn === 'USER' }">Good</p>
                <p class="second-column" [ngClass]="{ red: selecedColumn === 'SUPERUSER' }">Better</p>
                <p class="third-column" [ngClass]="{ red: selecedColumn === 'ADMIN' }">Best</p>
            </div>
        </div>
        <div class="row">
            <p class="left">Resolution</p>
            <div class="content-container">
                <p class="first-column" [ngClass]="{ red: selecedColumn === 'USER' }">720p</p>
                <p class="second-column" [ngClass]="{ red: selecedColumn === 'SUPERUSER' }">1080p</p>
                <p class="third-column" [ngClass]="{ red: selecedColumn === 'ADMIN' }">4K+HDR</p>
            </div>
        </div>
        <div class="row">
            <p class="left">Watch on your TV, computer, mobile phone and tablet</p>
            <div class="content-container">
                <p class="first-column" [ngClass]="{ red: selecedColumn === 'USER' }">YES</p>
                <p class="second-column" [ngClass]="{ red: selecedColumn === 'SUPERUSER' }">YES</p>
                <p class="third-column" [ngClass]="{ red: selecedColumn === 'ADMIN' }">YES</p>
            </div>
        </div>
        <div class="row last-row">
            <p class="left">Downloads</p>
            <div class="content-container">
                <p class="first-column" [ngClass]="{ red: selecedColumn === 'USER' }">NO</p>
                <p class="second-column" [ngClass]="{ red: selecedColumn === 'SUPERUSER' }">YES</p>
                <p class="third-column" [ngClass]="{ red: selecedColumn === 'ADMIN' }">YES</p>
            </div>
        </div>
        <button (click)="handleNavigate()">Submit</button>
    </div>
</main>
