
<div class="background">
    <img class='background-image'
        src='https://assets.nflxext.com/ffe/siteui/vlv3/3d6cf7c4-ad17-457a-b6cf-ea952926ba74/1e8677dc-8384-41ce-8bf0-99284008466a/US-en-20230206-popsignuptwoweeks-perspective_alpha_website_large.jpg'>
</div>


<h1>NOTFLIX</h1>
<div class="sign_in">
    <h2>Sign In</h2>
    <form method='post'>
        <div class="identifies">
            <input type="text" required id="username">
            <span></span>
            <label>Email or phone number</label>
        </div>
        <div class="identifies">
            <input type="password" required>
            
            <span></span>
            <label>Password</label>
            <button id="show_hide">Show</button>
        </div>

        <div class="signIn_button">
            <input type="submit" id="sign-in" value="Sign In">
        </div>
    
        <div class="other_option">
            <div class="checkbox_remember">
                <input type="checkbox" id="remember me">
                <label value='remember me'>Remember me</label>
            </div>
            <div class="help">
                <a href="#" class="text">Need help?</a>
            </div>
        </div>
    
        <div class="sign_up">
            New to Notflix? <a href="#" class="text">Sign up now</a>.
        </div>
    
        <div class="support">
            This page is protected by Google reCAPTCHA to ensure you're not a bot.
            <a href="#" class="text">Learn More.</a>
        </div>
    </form> 
