<div class="movie-card" style="background-image:linear-gradient(to top,rgba(0, 0, 0, 0.85) 0, rgba(0, 0, 0, 0.7) 60%, rgba(0, 0, 0, 0.85) 100%),url({{movie.poster_path}})"
(mouseover) = "onhover = true"
(mouseout) = "onhover = false"
>
    <div class="content">
        <div class="poster_img">
            <img 
            [ngStyle]="{'width': onhover === true ? '62%' : '60%'}"
                [src]="movie.poster_path"
                alt="{{ movie.title }}"
                class="img-responsive">
        </div>
        <div class="movie_details">
            <h1>{{ movie.original_title }}</h1>
            <div class="movie_info">
                <span class="release_date">{{movie.release_date === undefined? undefined: movie.release_date.split("-")[0]}}</span>
                <span class="original_language">{{movie.original_language}}</span>
                <span class="rate">{{movie.vote_average}}</span>
            </div>
            <p class="overview">{{movie.overview}}</p>
            <button class="more_details"
            (click) = "clickButton = true"
            [ngStyle]="{'opacity': onhover === true ? '0.9': '0.0'}"
            [routerLink]="['/movielist', movie.id]"
            >More Details</button>
            <mat-spinner
            *ngIf="showLoading && clickButton === true" 
            ></mat-spinner>
        </div>
        
    </div>
</div>
