/* You can add global styles to this file, and also import other style files */
body {
    background-color: black;
    color: white;
    text-align: center;
    /* width: 100vw; */
    /* height: 100vh; */
    margin:0;
}