<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
<body>
    <div class="container">
    <div class="logo">JTDANFLIX</div>
      <h1>Login</h1>
      <form>
        <input type="text" placeholder="Username or Email" required>
        <input type="password" placeholder="Password" required>
        <div class="remember-me">
          <input type="checkbox">Remember me
        </div>
        <input type="submit" value="Login">
      </form>
      <a href="#">Need help?</a>
    </div>
</body>