.listContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    background-color: black;
    align-items:stretch;
    padding: 3vw;
    width: 100%;
}

app-movie-item{
    width: 400px;
    height: 1100px;
    margin-left: 3vw;
}
