@import "../../../style.variables.scss";

.movie_list {
  background-color: black;
  border: 1px solid black;
  @include flex(center, center, column);

  .movie-rec {
    position: relative;
    height: 70vh;
    width: 100vw;
    background-color: rgb(29, 17, 2);

    .rec_list {
      position: absolute;
      right: 10em;
      background-color: rgba(0, 0, 0, 0);
      height: 50%;
      width: 30em;
      margin-top: 10em;
      z-index: 10;
      @include flex(space-around, flex-start, column);

      .recommend_item {
        cursor: default;
        text-align: right;
        background-color: rgba(0, 0, 0, 0);
        height: 14%;
        line-height: 14%;
        width: 100%;
        font-size: 1.2em;
        color: rgb(204, 204, 204);
      }
      .recommend_item:hover {
        font-size: 1.8em;
        color: white;
      }
    }
  }
  .movie_list {
    position: relative;
    width: 90vw;
    padding: 1.875rem;
    flex-wrap: wrap;
    @include flex(space-between);

    .movie_item {
      position: relative;
      width: 21.875rem;
    }
    .infinite_scroll_mark {
      position: relative;
    }
    .spinner_isLoading {
      position: absolute;
      bottom: 0;
      height: 9.4rem;
      width: 100%;
      @include flex();

      hr {
        height: 100%;
        width: 100%;
        border: 0;
        background: linear-gradient(235deg, #e91e63, #5d02ff);
        animation: animate1 5s linear infinite;
      }
      @keyframes animate1 {
        0%,
        100% {
          filter: hue-rotate(0deg);
        }
        50% {
          filter: hue-rotate(360deg);
        }
      }
    }
  }
}