// @import "../../../../../styles.variables.scss";

.video_holder {
  display: flex;
  position: relative;
  margin-top: 2em;
  height: 38.75rem;
  width: 76.9rem;
  background-color: black;
  border-radius: 20px;

  button {
    color: white;
  }

  .video_list {
    display: flex;
    height: 100%;
    flex-wrap: nowrap;

    

  }
}