<div class="container">
    <app-header></app-header>
    <div class="pageContainer">
        <div class="topContainer">
            <p>STEP 3 OF 3</p>
            <h1>Choose the plan that's right for you</h1>
            <ul>
                <li>Watch all you want.</li>
                <li>Recommendations just for you.</li>
                <li>Change or cancel your plan anytime.</li>
            </ul>
        </div>

        <div class="bottomContainer">
            <div class="row first-row">
                <div class="contentContainer left">
                    <div class="first-column box"><p>Basic with ads</p></div>
                    <div class="second-column box"><p>Standard</p></div>
                    <div class="third-column box"><p>Permium</p></div>
                </div>
            </div>


            <div class="row">
                <p class="feature">Monthly Price</p>
                <div class="contentContainer">
                    <p class="first-column">$6.99</p>
                    <p class="second-column">$15.49</p>
                    <p class="third-column">$15.99</p>
                </div>
            </div>

            <div class="row">
                <p class="feature">Video quality</p>
                <div class="contentContainer">
                    <p class="first-column">Good</p>
                    <p class="second-column">Better</p>
                    <p class="third-column">Best</p>
                </div>
            </div>

            <div class="row">
                <p class="feature">Resolution</p>
                <div class="contentContainer">
                    <p class="first-column">720p</p>
                    <p class="second-column">1080p</p>
                    <p class="third-column">4K+HDR</p>
                </div>
            </div>

            <div class="row">
                <p class="feature">Watch on your TV, computer, mobile phone and tablet</p>
                <div class="contentContainer">
                    <p class="first-column">YES</p>
                    <p class="second-column">YES</p>
                    <p class="third-column">YES</p>
                </div>
            </div>

            <div class="row last-row">
                <p class="feature">Download</p>
                <div class="contentContainer">
                    <p class="first-column">NO</p>
                    <p class="second-column">YES</p>
                    <p class="third-column">YES</p>
                </div>
            </div>
            
        </div>
        <div>
            <button type="next" class="nextButton">Next</button>
        </div>
    </div>
    <app-footer></app-footer>
</div>

 