.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}

.logo img {
    width: 100%;
    margin-left: 20px;
}

.signIn button {
    background-color: white;
    border: 0ch;
    font-size: large;
    font-weight: 500;
    margin-right: 20px;

}