<app-nav-bar></app-nav-bar>
<div class="container">
    <form class="main">
        <p>STEP 2 OF 3</p>
        <h1>Create a Username && Add your Tmdb Api_Key</h1>
        <p>Just a few more steps and you're done!</p>
        <br>
        <p>Wehate paperwork, too.</p>
        <br>
        <div class="form-group">
            <label>Username</label>
            <input type="text" name="username" id="username" class="form-control" placeholder="Add a username">
            <!-- <label class="input-label">
                <input type="text" name="username" id="username" class="form-control">
                <label for="username" class="placeLabel">username</label>
            </label> -->
        </div>
        <br>
        <div class="form-group">
            <label>Tmdb Api_Key</label>
            <input type="text" name="Api_Key" id="Api_Key" class="form-control" placeholder="Add a Tmdb Api_Key">
        </div>
        <br>
        <div>
            <button type="Next" class="NextButton">Next</button>
        </div>
    </form>
</div>