<div class="container">
    <app-header></app-header>
    <form class="form">
        <p>Step 2 of 3</p>
        <h1>Create a Username && Add your Tmdb Api_Key</h1>
        <p>Just a few more steps and you are done!</p>
        <p>We hate paperwork, too.</p>
        <br>
        <div class="form-group">
            <input type="text" name="Username" id="Username" class="form-control" placeholder="Enter your name">
        </div>
        <br>
        <div class="form-group"> 
            <input type="text" name="Api_Key" id="Api_Key" class="form-control" placeholder="Enter your Tmdb Api_Key">
        </div>
        <br>
        <div>
            <button type="next" class="nextButton">Next</button>
        </div>
    </form>
    <app-footer></app-footer>
</div>

