$email-input-bg-color: #141414;
$email-input-text-color: #e5e5e5;

header {
    height: 80vh;
    background-color: black;
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(https://assets.nflxext.com/ffe/siteui/vlv3/3d6cf7c4-ad17-457a-b6cf-ea952926ba74/1e8677dc-8384-41ce-8bf0-99284008466a/US-en-20230206-popsignuptwoweeks-perspective_alpha_website_small.jpg);
  
    .container {
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 50px;
    }
  
    .text {
        width: 70%;
        text-align: center;
        color: white;
        margin-top: 100px;
    
        h1 {
          font-size: 4rem;
          font-weight: 450;
          margin-bottom: 35px;
        }
    
        h4 {
          font-size: 1.5rem;
          font-weight: 300;
          margin-bottom: 35px;
        }
    
        p {
          font-size: 1.2rem;
          font-weight: 300;
          line-height: 2em;
        }
      }    
  
      .email-input-box {
        display: flex;
        justify-content: center;
        width: 40%;


        mat-form-field {
          width: 70%;
        }
        
        button {
          width: 30%;
          height: 56px;
          font-size: 25px;
          font-weight: 400;
        }
      }
  }
  