
<main>
    <div class="container">
        <p>STEP 2 OF 3</p>
        <h1>Create a Username and Add your Tmdb Api_Key (apply <a [href]="applyTmdbApiKey">here</a>)</h1>
        <p>Just a few more steps and you're done!</p>
        <p>We hate paperwork, too.</p>
        <form [formGroup]="registerForm2" (ngSubmit)="onSubmit()" novalidate>
            <input type="string" placeholder="Add a username" formControlName="username">
            <div *ngIf="!username?.valid && (username?.dirty || username?.touched)">
                <p>Username is required!</p>
            </div>
            <input type="string" placeholder="Add a Tmdb Api_Key" formControlName="tmdb_key">
            <div *ngIf="!tmdb_key?.valid && (tmdb_key?.dirty || tmdb_key?.touched)">
                <p *ngIf="tmdb_key?.errors?.['required']">Tmdb Api_Key is required!</p>
                <p *ngIf="tmdb_key?.errors?.['minLength']">Tmdb Api_Key is not valid!</p>
            </div>
            <button [disabled]="!registerForm2?.valid">Next</button>
        </form>
    </div>
</main>
