<section class="video_holder">
  <div class="video-list">
    <button class="video_switcher_left" mat-button (click)="switchVideo('left')">
      <mat-icon>keyboard_arrow_left</mat-icon>
    </button>
    <button class="video_switcher_right" mat-fab (click)="switchVideo('right')">
      <mat-icon>keyboard_arrow_right</mat-icon>
    </button>

    <youtube-player class="video" *ngIf="videos[0]" videoId={{videos[0].key}} suggestedQuality="highres" [playerVars]="{
      autoplay: 0,
      controls: 1,
      playlist: videos[0].key,
      loop: 1,
      modestbranding: 1
    }">
    </youtube-player>
  </div>
</section>

<div mat-dialog-actions>
  <button mat-button [mat-dialog-close]="" cdkFocusInitial> Close </button>
</div>