<div class="navContainer">
    <div class="leftdiv">
        <div class="navTitle" [routerLink]="['/home']">
            <span>NOTFLIX</span>
        </div>
        <div class="navTitle" [routerLink]="['/movies']">
            <span>Movies</span>
        </div>
    </div>
    <div class="rightdiv"
    *ngIf="this.user.email === ''" >
        <div class="navBut">
            <button class="signBut" [routerLink]="['/login']">Sign In</button>
        </div>
    </div>
    <div class="rightdiv"
    *ngIf="this.user.email !== ''" >
        <div class="navBut">
            <p>{{this.user.username}}</p>
        </div>
        <div class="navBut">
            <button class="signBut" (click) = "logout()">Log Out</button>
        </div>
    </div>
</div>