.container {
    position: relative;
    width: 100%;
    height: 1000px;
    background-image: linear-gradient(to top,rgba(0, 0, 0, 0.85) 0, rgba(0, 0, 0, 0.4) 60%, rgba(0, 0, 0, 0.85) 100%),
    url('https://assets.nflxext.com/ffe/siteui/vlv3/3d6cf7c4-ad17-457a-b6cf-ea952926ba74/1e8677dc-8384-41ce-8bf0-99284008466a/US-en-20230206-popsignuptwoweeks-perspective_alpha_website_small.jpg');
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
}

.search-box{
    position: absolute;
    left: 50%;
    top: 46%;
    white-space: nowrap;
    transform: translate(-50%,-50%);
}

h1 {
    font-size: 3rem;
    font-weight: bold;
}
h2 {
    font-size:1.7rem;
}
p {
    font-size: 1.2rem;
}

form {
    width: 60%;
    padding-left: 20%;
}

input{
    width: 400px;
    height: 60px;
    border-top-left-radius: 8px;
    border:black;
    font-size: 19px;
    padding-left: 12px;
}
button {
    width: 140px;
    height:65px;
    background-color: red;
    color: white;
    font-size: 17px;
    font-weight: bold;
    border-bottom-right-radius: 8px;
    /* border-radius: 4px; */
}

button:hover {
    background-color: rgb(186, 7, 7);
}

.invalid {
    color:red;
    font-size: 19.6px;
    text-align: left;
    padding-left: 10px;
}
