<div class="login-wrapper-background">
  <img class="concord-img vlv-creative" src="https://assets.nflxext.com/ffe/siteui/vlv3/3d6cf7c4-ad17-457a-b6cf-ea952926ba74/1e8677dc-8384-41ce-8bf0-99284008466a/US-en-20230206-popsignuptwoweeks-perspective_alpha_website_small.jpg" srcset="https://assets.nflxext.com/ffe/siteui/vlv3/3d6cf7c4-ad17-457a-b6cf-ea952926ba74/1e8677dc-8384-41ce-8bf0-99284008466a/US-en-20230206-popsignuptwoweeks-perspective_alpha_website_small.jpg 1000w, https://assets.nflxext.com/ffe/siteui/vlv3/3d6cf7c4-ad17-457a-b6cf-ea952926ba74/1e8677dc-8384-41ce-8bf0-99284008466a/US-en-20230206-popsignuptwoweeks-perspective_alpha_website_medium.jpg 1500w, https://assets.nflxext.com/ffe/siteui/vlv3/3d6cf7c4-ad17-457a-b6cf-ea952926ba74/1e8677dc-8384-41ce-8bf0-99284008466a/US-en-20230206-popsignuptwoweeks-perspective_alpha_website_large.jpg 1800w" alt="">
</div>
<h1>NETFLIX</h1>
<main class="container">  
  <h2>Sign In</h2>
  <body>
    <form class="sign-up-form">
      <input 
        class="user-name"
        type="text"
        name="username"
        placeholder="Email or phone number"
      />
      <input 
      class="password"
      type="password"
      name="password"
      placeholder="Password"
      />
      <button class="login-btn" type="submit">Sign In</button>
      <div class="login-help">
        <div class="binary-input">
          <input type="checkbox" name="rememberMe">
          <label>Remember me</label>
        </div>
        <div class="link">
          <a class="login-help-link" href="/LoginHelp">Need help?</a>
        </div>
      </div>
    </form>
  </body>
  <div class="login-form-other">
    <div class="login-signup-now">New to Netflix?
      <a class target="_self" href="/">Sign up now</a>.
    </div>
    <div class="recaptcha-terms-of-use">
      <p>
        <span>This page is protected by Google reCAPTCHA to ensure you're not a bot.</span>&nbsp;
        <a class="learnmore">Learn more.</a>
      </p>
    </div>
  </div>
</main>