<div class="container">
  <app-header></app-header>
  <form class="form">
    <p>Step 2 of 3</p>
    <h1>Create a Username && Add your Tmdb Api_Key</h1>
    <p>Just a few more steps and you are done!</p>
    <p>We hate paperwork, too.</p>
    <br>
    <div class="userInputContainer">
      <form [formGroup]="registerForm2" (ngSubmit)="onSubmit()" novalidate>
        <p>
          <input type="text" id="username" name="username" formControlName="username"
            placeholder="Username or phone number *">
        </p>
        <div
          *ngIf="registerForm2.get('username')?.invalid && (registerForm2.get('username')?.dirty || registerForm2.get('username')?.touched)">
          <div [hidden]="!registerForm2.get('username')?.errors?.['required']">
            username is required
          </div>
        </div>

        <p>
          <input type="text" id="tmdbApiKey" name="Tmdb Api Key" formControlName="tmdbApiKey"
            placeholder="Tmdb Api Key or phone number *">
        </p>
        <div
          *ngIf="registerForm2.get('tmdbApiKey')?.invalid && (registerForm2.get('tmdbApiKey')?.dirty || registerForm2.get('tmdbApiKey')?.touched)">
          <div [hidden]="!registerForm2.get('tmdbApiKey')?.errors?.['required']">
            Tmdb Api Key is required
          </div>
        </div>
        <p>
          <button class="nextButton" type="submit" [disabled]="!registerForm2.valid">Next</button>
        </p>
      </form>
    </div>
  </form>
  <app-footer></app-footer>
</div>
