

* {
    box-sizing: border-box;
    margin: 0%;
    border: 0;
}


.movie-item {
    display: flex;
    background-color: black;
}

.movie-info{
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border:2px solid  aqua;
    background: black;
    color: white;
    display: center;
    margin: 30%;
    //pictures position
    display: flex;
    flex-direction: column;
    padding: 50px;
}

.image{
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.release{
    font-style: italic;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

#date{
    padding: 0 20px 0 20px;
    border-radius: 15%;
    background: darkred;
}

#language{
    padding: 0 20px 0 20px;
    border-radius: 15%;
    background: darkred;
}

#rate{

    color: yellow;
    padding: 0 20px 0 20px;
    border-radius: 15%;
    background:darkred;
}

input[type="submit"]{
    background-color: transparent;
    width:50%;
    border: 2px solid aliceblue;

    color: aliceblue;

    font-size: 16px;
    padding: 10px 20px;
    cursor: pointer;
    text-align: center;
    outline: none;
}


