
<app-navbar></app-navbar>
<main>
    <div class="container">
        <p>STEP 1 OF 3</p>
        <h1>Create a password to start your membership</h1>
        <p>Just a few more steps and you're done!</p>
        <p>We hate paperwork, too.</p>
        <form>
            <input type="email" placeholder="Email">
            <p>Email is required!</p>
            <input type="password" placeholder="Add a password">
            <p>Password is required!</p>
            <button>Next</button>
        </form>
    </div>
</main>