<div class="card">
  <div class="text-col">
    <h2>Enjoy on your TV.</h2>
    <p>
      Watch on Smart TVs, Playstation, Xbox, Chromecast, Apple TV, Blu-ray
      players, and more.
    </p>
  </div>
  <div class="img-col">
    <img alt="" src="https://assets.nflxext.com/ffe/siteui/acquisition/ourStory/fuji/desktop/tv.png" />
    <div class="video-container">
      <video autoplay="" playsinline="" muted="" loop="">
        <source src="https://assets.nflxext.com/ffe/siteui/acquisition/ourStory/fuji/desktop/video-tv-0819.m4v"
          type="video/mp4" />
      </video>
    </div>
  </div>
</div>