<div class="container">
    <app-header></app-header>
    <div class="pageContainer">
        <div class="topContainer">
            <p>STEP 3 OF 3</p>
            <h1>Choose the plan that's right for you</h1>
            <ul>
                <li>
                    Watch all you want.
                </li>
                <li>
                    Recommendations just for you.
                </li>
                <li>
                    Change or cancel your plan anytime.
                </li>
            </ul>
        </div>
        <div class="bottomContainer">
            <div class="planContainer">
                <div class="planBox">
                    <p>eachbox</p>
                </div>
            </div>
            <div class="planDetail">
                <div class="detileTile">
                    <span>Monthly Price</span>
                </div>
            </div>
            <div class="planDetail">
                <div class="detileTile">
                    <span>Video Quality</span>
                </div>
            </div>
            <div class="planDetail">
                <div class="detileTile">
                    <span>Resolution</span>
                </div>
            </div>
            <div class="planDetail">
                <div class="detileTile">
                    <span>Watch on your TV, computer, mobile phone and tablet</span>
                </div>
            </div>
            <div class="planDetail">
                <div class="detileTile">
                    <span>Downloads</span>
                </div>
            </div>
        </div>
        <div>
            <button type="next" class="nextButton">Next</button>
        </div>
    </div>
    <app-footer></app-footer>
</div>

