<div class="card">
  <div class="text-col">
    <h2>Download your shows to watch offline.</h2>
    <p>Available on all plans except Basic with ads.</p>
  </div>
  <div class="img-col">
    <img alt="" src="https://assets.nflxext.com/ffe/siteui/acquisition/ourStory/fuji/desktop/mobile-0819.jpg" />
    <div class="our-story-card-animation">
      <div class="our-story-card-animation-image">
        <img alt="" src="https://assets.nflxext.com/ffe/siteui/acquisition/ourStory/fuji/desktop/boxshot.png" />
      </div>
      <div class="our-story-card-animation-text">
        <div id="" class="text-0" data-uia="">Stranger Things</div>
        <div id="" class="text-1" data-uia="">Downloading...</div>
      </div>
      <div class="gif-container">
        <img src="https://assets.nflxext.com/ffe/siteui/acquisition/ourStory/fuji/desktop/download-icon.gif"
          alt="downloading gif" class="gif" />
      </div>
    </div>
  </div>
</div>