
<section class="video_container">
    <div class="video_list">
        <button class="video_switcher_left" mat-fab (click)="switchVideo('left')">
            <mat-icon>keyboard_arrow_left</mat-icon>
        </button>
        <button class="video_switcher_right" mat-fab (click)="switchVideo('right')">
            <mat-icon>keyboard_arrow_right</mat-icon>
        </button>
        <div class="no_video" *ngIf="!movieVideos[0]">
            <img [src]="backdrop_img_high" alt="" *ngIf="hasBackdrop_img" />
        </div>
        <youtube-player
            *ngIf="movieVideos[0]"
            [videoId]="movieVideos[0].key"
            suggestedQuality="highres"
            [playerVars]="{
                autoplay: 1,
                controls: 1,
                playlist: movieVideos[0].key,
                loop: 1,
                modestbranding: 1
            }"
            [height]="500"
            [width]="801"
        >
        </youtube-player>
    </div>
</section>
