@import "../../../../../styles.variables.scss";

.video_container {
  position: relative;
  margin-top: 1em;
  height: 32rem;
  width: 70rem;
  background-color: black;
  border-radius: 20px;
  @include flex();

  button {
    color: white;
  }

  .video_list {
    height: 100%;
    flex-wrap: nowrap;
    @include flex();

    .no_video {
      position: absolute;
      top: 0;

      img {
        position: absolute;
        bottom: 2em;
        right: 2em;
        height: 30%;
        width: auto;
        border-radius: 2px;
      }
    }

    .video_switcher_left,
    .video_switcher_right {
      @include flex();

      position: absolute;
      top: 50%;
      font-size: 2em;
      height: 100px;
      width: 100px;
      border-radius: 50%;
      background-color: #8d143c;
    }
    .video_switcher_left {
      left: 0;
      transform: translate(-120%, -50%);
    }
    .video_switcher_right {
      right: 0;
      transform: translate(120%, -50%);
    }
    .video_switcher_left:hover,
    .video_switcher_right:hover {
      background-color: #bc0643;
    }
  }
}