<div class="card">
    <div class="text-col">
        <h2>Create profiles for kids.</h2>
        <p>
            Send kids on adventures with their favorite characters in a space made just for them—free with your
            membership.
        </p>
    </div>
    <div class="img-col">
        <img alt="" class="our-story-card-img"
            src="https://occ-0-3418-2430.1.nflxso.net/dnm/api/v6/19OhWN2dO19C9txTON9tvTFtefw/AAAABfpnX3dbgjZ-Je8Ax3xn0kXehZm_5L6-xe6YSTq_ucht9TI5jwDMqusWZKNYT8DfGudD0_wWVVTFLiN2_kaQJumz2iivUWbIbAtF.png?r=11f"
            data-uia="our-story-card-img" />
    </div>
</div>