
<main>
    <app-navbar></app-navbar>
    <div class="container">
        <div class="card">
            <h1>Unlimited movies, TV shows, and more.</h1>
            <h4>Watch anywhere. Cancel anytime.</h4>
            <h5>Ready to watch? Enter your email to create or restart your membership.</h5>
            <div class="email-container">
                <input type="email" placeholder="Email address">
                <button>Get Started ></button>
            </div>
        </div>
    </div>
</main>