.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding: 30px;
    background-color: transparent;
  
    .logo {
      img {
        width: 25%;
      }
    }

    p{
      color:aqua;
    }
  
    .signin {
      button {  
        &:hover {
          background-color: #c90812;
        }
      }
    }
  }
  